doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    title readBook by Slabs
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // readBook

    .readBook(style="padding:0;margin:0;")

      .icon-admin
        a(href="#" title="")
          img(src="../img/icons/icon-close.png" alt="@@")

      //.space

      // bookshelf

      .bookshelf

        // container

        .container.bookshelf-body

          .row

            .col-lg-6.nopadding
              .book-preview.bookshelf__type-two-item
                img(src="../img/book.png" alt="@@")

            .col-lg-6.nopadding
              .book-preview.bookshelf__type-two-item
                img(src="../img/book.png" alt="@@")

            .col-lg-3.nopadding.hidden
              .book-preview.bookshelf__type-three-item
                img(src="../img/book.png" alt="@@")

            .col-lg-3.nopadding.hidden
              .book-preview.bookshelf__type-three-item
                img(src="../img/book.png" alt="@@")



          .row.hidden

            .col-lg-3.nopadding
              .book-preview.bookshelf__type-three-item
                img(src="../img/book.png" alt="@@")

            .col-lg-3.nopadding
              .book-preview.bookshelf__type-three-item
                img(src="../img/book.png" alt="@@")

            .col-lg-3.nopadding
              .book-preview.bookshelf__type-three-item
                img(src="../img/book.png" alt="@@")

            .col-lg-3.nopadding
              .book-preview.bookshelf__type-three-item
                img(src="../img/book.png" alt="@@")