doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    title readBook by Slabs
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // readBook

    .readBook

      // top panel

      .topPanel

        // container

        .container

          .row

            .col-lg-12

      // bookshelf

      .bookshelf

        // container

        .container

          .row

            .col-lg-12

              // books

              .container

                .row

                  .col-lg-1

                    // book

                    .book-preview

                  .col-lg-2

                  .col-lg-1

                    // book

                    .book-preview

                  .col-lg-2

                  .col-lg-1

                    // book

                    .book-preview

                  .col-lg-2

                  .col-lg-1

                    // book

                    .book-preview

      // bookshelf

      .bookshelf

        // container

        .container

          .row

            .col-lg-12

              // books

              .container

                .row

                  .col-lg-1

                    // book

                    .book-preview

                  .col-lg-2

                  .col-lg-1

                    // book

                    .book-preview

                  .col-lg-2

                  .col-lg-1

                    // book

                    .book-preview

                  .col-lg-2

                  .col-lg-1

                    // book

                    .book-preview

      // progress bar

      .progressBar

        // container

        .container

          .row

            .col-lg-12