doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    title readBook by Slabs
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // readBook

    .readBook

      // top panel

      .topPanel

        // container

        .container

          .row

            .col-lg-12

      .popup

        .icon-back
          a(href="#" title="")

        // keyboard body

        .keyboard-body

          // container

          .container

            .row

              .col-lg-3

              .col-lg-6

                // keyboard

                .keyboard

                  // panel

                  .keyboard__panel

                    form(action="/" method="post")

                      // item

                      .keyboard__panel__key-putin-item
                        input#putinOne(type="radio")
                        label(for="putinOne")
                          | default

                      // item

                      .keyboard__panel__key-putin-item
                        input#putinTwo(type="radio")
                        label(for="putinTwo")
                          | custom

                      // item

                      .keyboard__panel__key-putin-item
                        input#putinDisableMargins(type="checkbox")
                        label(for="putinDisableMargins")
                          | disable margins

                      // bodyBuilder

                      .keyboard__panel__key-putin-showContentBody.hide

                        // item

                        .keyboard__panel__key-putin-showContent
                          label
                            | w:                        
                          input(type="text" placeholder="")
                          p
                            | px  

                        // item

                        .keyboard__panel__key-putin-showContent
                          label
                            | h:
                          input(type="text" placeholder="")
                          p
                            | px 

                      // bodyBuilder

                      .keyboard__panel__key-putin-showContentBody

                        // item

                        .keyboard__panel__key-putin-showContent
                          label
                            | select format: 
                          select
                            option
                              | A0
                            option
                              | A1
                            option
                              | A2



                    .keyboard__panel__key
                      img(src="../img/icons/icon-close-white.png" alt="@@")

                    .keyboard__panel__key
                      img(src="../img/icons/icon-keyboard.png" alt="@@")

                    .keyboard__panel__key
                      img(src="../img/icons/icon-fullscreen.png" alt="@@")

                  // columns

                  .keyboard__cols

                    // column left

                    .keyboard-left
                      
                      .keyboard-key
                        | 1

                      .keyboard-key
                        | 2

                      .keyboard-key
                        | 3

                      .keyboard-key
                        | 4

                      .keyboard-key
                        | 5

                      .keyboard-key
                        | 6

                      .keyboard-key
                        | 7

                      .keyboard-key
                        | 8

                      .keyboard-key
                        | 9

                      .keyboard-key
                        | 0

                    // column right

                    .keyboard-right

                      .keyboard-key.full-width
                        img(src="../img/icons/icon-backspace.png" alt="@@")

                      .keyboard-key.keyboard-key__circle
                        | +

                      .keyboard-key.keyboard-key__circle
                        | -

              .col-lg-3

        // table of contents body

        .table-of-contents-body.exit-body

          // container

          .container

            .row

              .col-lg-4

              .col-lg-4

                p
                  | Выход смотрителя

                input(type="text" placeholder="ВВЕДИТЕ ПАРОЛЬ")


              .col-lg-4

      // progress bar

      .progressBar

        // container

        .container

          .row

            .col-lg-12