doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    title readBook by Slabs
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // readBook

    .readBook

      img.logotype(src="../img/logoped.png" alt="@@")

      .icon-admin
        a(href="#" title="")
          img(src="../img/icons/icon-close.png" alt="@@")

      // top panel

      .topPanel

        .table-of-contents
          a(href="#" title="")
            | Оглавление

        .icon-back
          a(href="#" title="")

      // main container

      .mainContainer

      // container

      .container

        .row

          .col-lg-12

            .content-book
              | 111

      // progress bar

      .progressBar

        // container

        .container

          .row

            .col-lg-12

              .currentPage
                | 2 / 10

              .progressBar__body

                .progressBar__body__current-page
                  | 2 / 10

                .progressBar__body__information
                  | Название главы

                .progressBar__status
                  .progressBar__status__romb
                .progressBar__background