doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    title readBook by Slabs
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // readBook

    .readBook

      .icon-admin
        a(href="#" title="")
          img(src="../img/icons/icon-close.png" alt="@@")

      // top panel

      .topPanel

        // container

        .container

          .row

            .col-lg-12

      .popup

        .icon-back
          a(href="#" title="")

        .icon-admin
          a(href="#" title="")

        // table of contents body

        .table-of-contents-body

          // container

          .container

            .row

              .col-lg-3

              .col-lg-6

                .wowbook-toc
                  h1
                    span.wowbook-toc-header-text ОГЛАВЛЕНИЕ
                    button.wowbook-close ✕
                  ul.wowbook-toc-items
                    li.wowbook-toc-item
                      a(href='')
                        | Содержание
                        span.page
                    li.wowbook-toc-item
                      a(href='')
                        | Общая техническая информация
                        span.page
                    li.wowbook-toc-item.wowbook-collapsed
                      span.wowbook-toc-item-toggle
                      a(href='')
                        | Промышленные разъемы
                        span.page
                      ul.wowbook-toc-items
                        li.wowbook-toc-item
                          a(href='')
                            | DSN до 63А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | DS от 16 до 400А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | DN до 90А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | PN до 30
                            | А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | Многоконтактные разъемы до 25А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | Деконтакторы для переключения со звезды на треугольник до 150А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | DB до 125А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | PF до 600А/1000В
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | DXN ATEX 63А(125А)
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | SK/SP/LK от 75 до 500А
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | Автоматически разъединяющиеся системы Rettbox® /Rettbox®-air
                            span.page
                        li.wowbook-toc-item
                          a(href='')
                            | Соединительные и распределительные коробки
                            span.page


              .col-lg-3

      // progress bar

      .progressBar

        // container

        .container

          .row

            .col-lg-12