doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    title readBook by Slabs
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // readBook

    .readBook.table-of-contents-body-bg

      // top panel

      .topPanel

        // container

        .container

          .row

            .col-lg-12

              .icon-close
                a(href="#" title="")

      // table of contents body

      .table-of-contents-body

        // container

        .container

          .row

            .col-lg-4

            .col-lg-4

              h2
                | Оглавление

              ul

                li
                  a(href="#" title="")
                    | Title of article

                li
                  a(href="#" title="")
                    | Title of article

                li
                  a(href="#" title="")
                    | Title of article

                li
                  a(href="#" title="")
                    | Title of article

                li
                  a(href="#" title="")
                    | Title of article


            .col-lg-4

      // progress bar

      .progressBar

        // container

        .container

          .row

            .col-lg-12