// SETTINGS //

// animation

a, a:hover, li, img, input, textarea {
	transition: all 0.5s ease-in-out;
}

// body

body {
	width: auto;
	cursor: default;
	background: #e5e5e5;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	//overflow-y: hidden;

}

a {
  cursor: pointer;
}

p {
	font: 14px 'tahoma';
	color: #000;
}

.readBook {
	padding: 0;
	margin: 0;
	height: auto;
	overflow: hidden;
}

// top panel

.topPanel {
	padding-top: 3%;
	height: 20px;
}

// main container

.mainContainer {
	margin-top: 3%;
	margin-bottom: 3%;
}

// container

.container {

}

// current page

.currentPage {
	position: absolute;
	right: 0;
	width: 2%;
	height: 12px;
	margin-top: -8px;
	text-align: right;
}

// progress bar

.progressBar {
	position: absolute;
	left: 0;
	bottom: 5%;
	width: 90%;
	margin: 0 5%;
	height: 5px;
}

.progressBar__body {
	position: absolute;
	left: 0;
	width: 99%;
}

.progressBar__background {
	position: absolute;
	width: 98%;
	height: 5px;
	background: #b4b4b4;
	z-index: 1;
}

.progressBar__status {
	margin-top: 0px;
	position: absolute;
	width: 60%;
	height: 5px;
	background: #233a6e;
	z-index: 2;
}

// table of contents

.table-of-contents {
	position: absolute;
	left: 6%;
	top: 5%;
	width: 170px;

	a, a:hover {
		display: block;
		width: 150px;
		height: 23px;
		font: 16px 'tahoma';
		text-transform: uppercase;
		color: #000;
		text-decoration: underline;
	}

}

.space {
	margin-top: 2.5%;
}

// bookshelf

.bookshelf {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: auto;

	//border-bottom: 6px solid #b4b4b4;
}

// books

.book-preview {
	overflow: hidden;
	margin-bottom: 0%;
	width: 100%;
	height: 45vh;
	background: #c2c9c9; /* Old browsers */
	background: -moz-linear-gradient(top, #c2c9c9 0%, #bfc5c6 11%, #b6bebf 24%, #8e9ea1 71%, #819398 90%, #7d9094 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #c2c9c9 0%,#bfc5c6 11%,#b6bebf 24%,#8e9ea1 71%,#819398 90%,#7d9094 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c2c9c9 0%,#bfc5c6 11%,#b6bebf 24%,#8e9ea1 71%,#819398 90%,#7d9094 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c9c9', endColorstr='#7d9094',GradientType=0 ); /* IE6-9 */

	img {
		width: 188px;
		height: 264px;
		display: block;
		margin: 18% auto;


	}

}



.col-lg-3:nth-child(odd) .book-preview {
	background: #d7d9d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d7d9d8 0%, #ced1d0 24%, #b0b6b5 75%, #a7adad 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d7d9d8 0%,#ced1d0 24%,#b0b6b5 75%,#a7adad 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d7d9d8 0%,#ced1d0 24%,#b0b6b5 75%,#a7adad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d9d8', endColorstr='#a7adad',GradientType=0 ); /* IE6-9 */
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

// .table-of-contents-body

.popup {
	margin-top: -3%;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(190, 197, 198, 0.8) !important;
}

.table-of-contents-body {
	margin-top: 10%;
	text-align: center;
	color: #fff;

	h2 {
		margin-bottom: 40px;
		font: 24px 'tahoma';
		text-transform: uppercase;
		color: #fff;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: left;

			a, a:hover {
				display: block;
				font: 18px 'tahoma';
				line-height: 32px;
				color: #fff;
				text-decoration: none;
			}

		}

	}

	p {
		margin-left: 5%;
		font: 20px 'tahoma';
		text-align: left;
		color: #fff;
		text-transform: uppercase;
	}

	input[type="text"] {
		margin: 20px auto;
		width: 100%;
		height: 96px;
		background: #fff;
		padding: 0 5%;
		color: #000;
	}

}

// icon close

.icon-close {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 170px;
	height: 23px;
	z-index: 999;

	a, a:hover {
		display: block;
		width: 170px;
		height: 23px;
		font: 16px 'tahoma';
		text-transform: uppercase;
		color: #000;
		text-decoration: underline;
		background: url('../img/icons/icon-close-white.png') no-repeat left;
	}

}

// icon back

.icon-back {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 22px;
	height: 23px;
	z-index: 999;

	a, a:hover {
		display: block;
		width: 22px;
		height: 22px;
		font: 16px 'tahoma';
		text-transform: uppercase;
		color: #000;
		text-decoration: underline;
		background: url('../img/icons/icon-back.png') no-repeat left;
	}

}

.icon-admin {
	position: absolute;
	bottom: 4.5%;
	left: 2%;
	width: 22px;
	height: 22px;
	z-index: 999;

	a, a:hover {
		display: block;
		width: 12px;
		height: 12px;
		font: 16px 'tahoma';
		text-transform: uppercase;
		color: #000;
		text-decoration: underline;
		//background: url('') no-repeat;
		opacity: 0.7;

		img {
			width: 12px;
			height: 12px;
		}

	}

}

.exit-body {
		margin-top: 18% !important;
}

// keyboard

.keyboard-body {
	height: 320px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 5;
	background: #1a1a1a;
}

.keyboard {}

.keyboard__panel {
	margin: 30px 0;
	height: 28px;
}

.keyboard__panel__key {
	margin-left: 29px;
	float: right;
	width: 28px;
	height: 28px;
	cursor: pointer;

	img {
		display: block;
		width: 28px;
		height: 28px;
		margin: 0 auto;
	}

}

.keyboard__cols {
	height: auto;
	overflow: hidden;
}

.keyboard-left {
	float: left;
	width: 70%;
}

.keyboard-right {
	float: right;
	width: 28%;
}

.keyboard-key {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	width: 16%;
	height: 84px;
	background: #333;
	color: #fff;
	font: 24px 'tahoma';
	font-weight: normal;
	text-align: center;
	line-height: 84px;
}

.full-width {
	width: 100%;
}

.keyboard-key__circle {
	margin: 0;
	border-radius: 50%;
	width: 43%;
}

.keyboard-key__circle:last-child {
	float: right;
}

// STYLE SHIT FOR TABLE OF CONTENTS

.wowbook-toc-items {
	height: 500px;
	//overflow-y: scroll;
	color: #000 !important;
}

.wowbook-toc {
	padding: 15% 30%;
	background: 0 !important;
	width: auto !important;
	border: 0 !important;
	background: #f5f5f5 !important;
	width: 100% !important;
	position: absolute;
	height: 100vh !important;

	li, a, span {
		color: #000 !important;
		border: 0 !important;
		font: 16px 'tahoma' !important;
	}

	h1 {
		font: 20px 'tahoma';
		color: #000;
		margin-bottom: 20px;
	}

	h1:after {
		margin-right: 20px;
		display: block;
		position: absolute;
		width: 11px;
		height: 11px;
		background: 0;
		content: "";
		font: 11px 'tahoma';
		color: #000;
		top: 5%;
		left: 3%;		
		width: 22px;
		height: 22px;
		font: 16px 'tahoma';
		text-transform: uppercase;
		color: #000;
		text-decoration: underline;
		background: url('../img/icons/icon-back.png') no-repeat left;
	}

}

.wowbook-close {
	display: none !important;
}

// centered book content

.content-book {
	display : flex;
  	align-items : center;
	width: 90%;
	height: 70vh;
	//background: #f00;
}

// book shelf

.bookshelf-body {
	margin: 0 !important;
	padding: 0 !important;
}

// type two

.bookshelf__type-two-item {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	height: 100vh !important;

	img {
		display : flex;
  		align-items : center;
		width: 40%;
		height: auto;
	}

}

.book-1.col-lg-6.nopadding .bookshelf__type-two-item:nth-child(odd) {
	background: #d7d9d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d7d9d8 0%, #ced1d0 24%, #b0b6b5 75%, #a7adad 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d7d9d8 0%,#ced1d0 24%,#b0b6b5 75%,#a7adad 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d7d9d8 0%,#ced1d0 24%,#b0b6b5 75%,#a7adad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d9d8', endColorstr='#a7adad',GradientType=0 ); /* IE6-9 */
}

// / type two

.bookshelf__type-one-item {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100vh !important;
	background: url('../img/book-bg.png') repeat-x center;

	img {
		display : flex;
  		align-items : center;
		width: 25%;
		height: auto;
	}

}

// type three

.bookshelf__type-three-item {
	margin: 0 !important;
	padding: 0 !important;
	height: 50vh !important;

}

// / type three

.hidden {
	display: none;
}

// STYLE SHIT FOR TABLE OF CONTENTS