a,
a:hover,
li,
img,
input,
textarea {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body {
  width: auto;
  cursor: default;
  background: #e5e5e5;
  overflow-x: hidden;
}
a {
  cursor: pointer;
}
p {
  font: 14px 'tahoma';
  color: #000;
}
.readBook {
  padding: 0;
}
.topPanel {
  margin-top: 3%;
}
.mainContainer {
  margin-top: 3%;
  margin-bottom: 3%;
}
.currentPage {
  position: absolute;
  right: 0;
  width: 2%;
  height: 12px;
  margin-top: -8px;
  text-align: right;
}
.progressBar {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  height: 5px;
}
.progressBar__body {
  position: absolute;
  left: 0;
  width: 99%;
}
.progressBar__background {
  position: absolute;
  width: 98%;
  height: 5px;
  background: #b4b4b4;
  z-index: 1;
}
.progressBar__status {
  margin-top: 0px;
  position: absolute;
  width: 60%;
  height: 5px;
  background: #233a6e;
  z-index: 2;
}
.table-of-contents {
  float: right;
  width: 170px;
}
.table-of-contents a,
.table-of-contents a:hover {
  display: block;
  width: 170px;
  height: 23px;
  font: 16px 'tahoma';
  text-transform: uppercase;
  color: #000;
  text-decoration: underline;
  background: url('../img/icons/icon-close.png') no-repeat right;
}
